<center>
<br>
<p>
<a target="_blank" href="http://www.djangoproject.com/">
<img src="/static/images/djangoproject.gif" border="0" alt="A Django project." title="A Django project." /></a>
</p>

<p>
{% if stat %}
  <center>Since {{ stat.created }} we have ran <b>{{ stat.tests_completed }}</b> automated test!</center>
{% endif %}
</p>

</center>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/static/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/bootstrap/js/bootstrap-button.js"></script>
    <script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="/static/js/jquery.dataTables.js"></script>

  </body>
</html>
