{% include 'head.html' %}
{% include 'menu.html' %}

    <div class="container">
      <div class="content">
        
        <center>
          <img src='static/images/PackageTester.jpg' />
        </center>
        
        <br>
          <p><b>IUS Package Tester</b> is a tool for running automated RPM package installations,
          we are able to achieve this functionality by using <a href='http://fedoraproject.org/wiki/Projects/Mock'>Mock</a>.</p>

        
       </div>
    </div>

{% include 'foot.html' %}